/* Modal Overlay */
.modalOverlay {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Modal Content */
  .modalContent {
    background-color: #fff;
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* Modal Header */
  .modalHeader {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  
  .closeButton {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
  }
  
  /* Modal Body */
  .modalBody {
    padding: 20px;
  }
  
  /* Add more styles as needed to match the Twitter login modal design */
  