.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  background: #fff;
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modalIcon {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}


.closeButton {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalBody {
  padding: 20px;
  text-align: center;
}

.modalInput {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  color: #00020a; /* Blue text color for input */
}

.helperText {
  display: block;
  margin-bottom: 4px;
  color: #6c8efd;
  font-size: 0.75rem;
}

.modalInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5d82fd;
  opacity: 1; /* Firefox */
  font-size: 0.75rem; /* Smaller font size for placeholder */
}

.modalButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 9999px;
  background-color: #0139f3b4;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.buttonDisabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modalButton:hover {
  background-color: #01090e;
}

.modalInput:focus,
.modalButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(104, 253, 246, 0.849));
}

.inputError {
  border: 1px solid #ff0000; /* Red border for error */
}

.errorText {
  color: #ff0000; /* Red text for error */
  margin-top: 8px;
}

.buttonDisabled {
  background-color: #ccc;
  cursor: not-allowed;
}
