alembic==1.12.1
aniso8601==9.0.1
appnope==0.1.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
bcrypt==4.0.1
blinker==1.6.3
certifi==2023.7.22
charset-normalizer==3.3.1
clear-screen==0.1.14
click==8.1.7
decorator==5.1.1
dicttoxml==1.7.16
distlib==0.3.7
dnspython==2.4.2
exceptiongroup==1.1.3
executing==2.0.0
Faker==20.0.3
filelock==3.12.2
flasgger==0.9.7.1
Flask==3.0.0
Flask-Cors==4.0.0
Flask-JWT==0.3.2
Flask-JWT-Extended==4.5.3
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
html5lib==1.1
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.12.3
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
lxml==4.9.3
Mako==1.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mechanize==0.4.8
mistune==3.0.2
numpy==1.24.4
packaging==23.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2023.7.23
pipfile==0.0.2
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
pluggy==1.3.0
prettytable==3.9.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.16.1
PyJWT==2.8.0
pyperclip==1.8.2
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
referencing==0.30.2
requests==2.31.0
rich==13.6.0
rpds-py==0.10.6
rq==1.15.1
shortuuid==1.0.11
six==1.16.0
SQLAlchemy==2.0.23
SQLAlchemy-serializer==1.4.1
stack-data==0.6.3
tk==0.1.0
toml==0.10.2
tomli==2.0.1
traitlets==5.12.0
typing_extensions==4.8.0
unicodecsv==0.14.1
urllib3==2.0.7
virtualenv==20.24.3
virtualenv-clone==0.5.7
wcwidth==0.2.8
webencodings==0.5.1
Werkzeug==3.0.1
XlsxWriter==3.1.9
zipp==3.17.0